@model MertCanErdemBeltekSinav.Models.Users

<h1>Kullanıcı Detayları</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tam adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Mail adresi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            şifre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            Cinsiyet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a> |
    <a asp-action="Index">Listeye geri dön</a>
</div>