@model IEnumerable<MertCanErdemBeltekSinav.Models.Users>

<h1>Kullanıcılar</h1>

<p>
    <a asp-action="Create">Yeni kullanıcı oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tam adı
            </th>
            <th>
                Email adresi
            </th>
            <th>
                Şifresi
            </th>
            <th>
                Cinsiyeti
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.GenderName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detayı görüntüle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>