@model IEnumerable<MertCanErdemBeltekSinav.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

<p>
    <a asp-action="Create">Yeni ürün oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               ürün başlığı
            </th>
            <th>
                ürün adı
            </th>
            <th>
                ürün açıklaması
            </th>
            <th>
                ürün resmi
            </th>
            <th>
                oluşturulma tarihi
            </th>
            <th>
                ürün fiyatı
            </th>
            <th>
                kategorisi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detayları gör</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
